.header{
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.content-header-top{
    padding: 14px;
    background-color: var(--color-one);
    color: #FFC813;
    text-align: center;
    font-size: 17.6px;

}
.header-main{
    width: 100%;
    background-color: white;
    padding: 5px 0px;
}
.inner-wrap{
    display: flex;
    justify-content: space-between;

}
..header-logo {
    display: flex;
    align-items: center;
}
.header-logo a{
    display: flex;
    align-items: center;

}
.header-logo a > img{
    width: 48px;
    height: auto;
}
.header-logo > a > p {
    margin-left: 12px;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-one);
}
.header-logo > a > p:hover{
    color: black;
}
.header-menu{
    display: flex;
    align-items: center;

}
.header-menu > a > ul {
    display: flex;
   
    
}
.header-menu > a > ul > li { 
    margin-left: 13px;
    margin-right: 13px;
    font-size: 17.6px;
    font-weight: 400;
    color: var(--color-one)
}
.header-menu > a > ul > li:hover{
    color : #49B6ED;
}
.header-help{
    display: flex;
    align-items: center;
    font-size: 17.6px;
    color: #5b6c8f;
}
.header-social{
    display: flex;
    align-items: center;
}
.header-social > a >  ul{
    display: flex;
    align-items: center;
    
}
.header-social > a >  ul > li{
    font-size: 24px;
    margin-left: 28px;
    color: var(--color-one);
}
/* section-1 */
.section{
    background-color: var(--color-section);
    width: 100%;
    padding: 50px 0;
}
.section .container .inner-wrap{
    display: flex;
}
.section .container .inner-wrap-left{
    width: 50%;
}
.inner-wrap-left > h1{
    font-size: 60.8px;
    color: var(--color-one);
    font-weight: bold;
    margin-bottom: 40px;
}
.inner-wrap-left > p {
    color: #103178;
    font-size: 22.4px;
    margin-bottom: 40px;
    
}
.inner-wrap-left  .content  {
    display: flex;
    margin-bottom: 40px;
}
.inner-wrap-left .content .item-content{
    display: flex;
    width: 50%;
}
.inner-wrap-left .content .item-content p {
    font-size: 18px;
    color: var(--color-text);
}
.inner-wrap-left .content .item-content i{
    width: 24px;
    margin-right: 5px;
}
.inner-wrap-left .btn-shop a {
   width: 170px;
   height: 50px;
    border-radius: 45px;
    background-color: #FFC813;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inner-wrap-left .btn-shop a {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.inner-wrap-left .btn-shop i{
    margin-left: 10px;
}
.inner-wrap-left .btn-shop a:hover{
    border: 2px solid #FFC813;
    background-color: #fff;
    color: var(--color-two);
}
.section .container .inner-wrap-right{
    width: 50%;
    position: relative;
}
.section .inner-wrap-right  img{
    width: 100%;
    height: auto;
    position: relative;
}
.inner-wrap-right .only25{
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: var(--color-two);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 120px;
}
.inner-wrap-right .only25 span:nth-child(1)
{
    font-size: 20px;
    color: var(--color-one); 
    font-weight: 600
    
}
.inner-wrap-right .only25 span:nth-child(2)
{
    font-size: 40px;
    font-weight: 700; 
    color: var(--color-one);  
}
/* end section */
/* section 1 */
.section-1{
    width: 100%;
    background-color: #fff;
    padding: 65px 0;
}
.section-1 .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.box{
    position: relative;
    width: 32%;
    height: 280px;
}
.section-1 .inner-wrap .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.inner-wrap .box .box-content{
    position: absolute;
    top: 20px;
    left: 30px;
   
}
.box .box-content .button-new {
    width: 70px;
    height: 30px;
    background-color: #13A05D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    font-size: 16.8px;
    font-weight: 700;
    margin-top: 20px;
}
.box .box-content h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 45px;
}
.box .box-content .more {
    color: #fff;
    padding: 10px 40px;
    border-radius: 45px;
    background-color: var(--color-one);
    font-size: 18px;
    font-weight: 800;
}
.box .box-content .title{
    color: var(--color-one);
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}
.box .box-content .sale {
    color: var(--color-two);
    font-size: 45px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 700;
}
.box .box-content .more1{
    padding: 10px 60px;
    margin-top: 50px;
}
.box .box-content .price{
    font-size: 45px;
    font-weight: 700;
    color: var(--color-two);
    margin-top: 10px;
}
.box .box-content .sale1{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
} 
.box .box-content .hover:hover{
    border: 2px solid var(--color-one);
    background-color: #fff;
    color: var(--color-one);

}

/* Section-2 */

.section-2{
    background-color: var(--color-section);
    padding: 65px 0;
    margin: 40px 0;
}
.inner-wrap-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-wrap-2 .inner-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-wrap-2 .inner-top .inner-title{
    margin-top: auto;
    color: var(--color-one);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.inner-wrap-2 .inner-top .inner-desc{
   margin-top: -20px;
   font-size: 20px;
   color: var(--color-text);
}
.inner-wrap-2 .inner-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    width: 100%;

}
.inner-wrap-2 .inner-bottom .inner-bottom-item{
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.inner-wrap-2 .inner-bottom .inner-bottom-item i{
    font-size: 40px;
}
.inner-wrap-2 .inner-bottom .inner-bottom-item-title{
    color: var(--color-one);
    font-size: 25px;
    margin-top: 40px;
}
.inner-wrap-2 .inner-bottom .inner-bottom-item-desc{
    font-size: medium;
    line-height: 1.25;
}

/* End Section-2 */



/* Section-3 */
.section-3{
    padding: 65px 0;
    background-color: #fff;
}
.section-3 .content-center{
    align-items: center;
}

.inner-wrap .inner-left .inner-left-title{
    color: var(--color-one);
    font-size: 60px;
}
.inner-wrap .inner-left .inner-left-desc{
    font-size: 20px;
    line-height: 1.5;
}
.inner-wrap .inner-left .inner-left-button{
    padding: 10px 50px;
    justify-content: center;
    display: flex;
    background-color: #FFC813;
    border-radius: 45px;
    color: white;
    font-size: larger;
    font-weight: 600;
    width: 20px;
    margin-top: 35px;

}
.inner-wrap .inner-left .inner-left-button:hover{
    border: 2px solid #FFC813;
    color: #FFC813;
    background-color: #ffF;
}

.inner-wrap .inner-right {
    width: 50%;
}
.inner-wrap .inner-right .inner-right-image img{
    width: 100%;
}
/* End section-3 */





/* Section-4 */
.section-4{
    background-color: var(--color-section);
    margin-top: 80px;
}

.section-4 .wrap{
    padding: 60px 0;
    width: 100%;
    height: 95px;
    position: relative;
 
}
.wrap .image {
    height: 100%;
  
}
.wrap .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrap .wrap-content-left{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    left: 40px;

    
}
.wrap .wrap-content-left i {
    font-size: 26px;
    margin-right: 10px;
}
.wrap .wrap-content-left span{
    font-size: 18px;
    font-weight: 600;
}.wrap .wrap-content-right {
    color: #fff;
    background-color: #13A05D;
    padding: 10px 40px;
    border-radius: 45px;
    position: absolute;
    right: 40px;
    top: calc(50% - 16px);
    
}
/* End Section -4 */


/* Section-5 */
.section-5{
    margin-top: 80px;
}
.section-5 .inner-title{
    color: var(--color-one);
    font-size: 32px;
}
.section-5 .inner-wrap-s5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-5 .inner-wrap-s5 .inner-product{
    width: 100%;
    display: flex;
}
.section-5 .inner-wrap-s5 .inner-product .product-item{
    width: 20%;
    border: 1px solid #dacccc72;
}
.section-5 .inner-wrap-s5 .inner-product .product-item img{
    width: 100%;
    height: 55%;
    object-fit: cover;
}
.section-5 .inner-wrap-s5 .inner-product .product-item .title{
    font-size: 16px;
    color: var(--color-one);
    font-weight: 450;
    margin : 10px 10px;
}

.section-5 .inner-wrap-s5 .inner-product .product-item .price{
    margin-left: 10px;
    color: var(--color-one);
    font-size: 25px;
    font-weight: 800;
    
}
.section-5 .inner-wrap-s5 .inner-product .product-item .star{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-5 .inner-wrap-s5 .inner-product .product-item .star i{
    font-size: 13px;
    padding: 1px;
    color: #FFC813;
}
/* End Section-5 */


/* Section-6 */
.section-6{
    background-color: var(--color-section);
    margin-top: 80px;
    padding: 65px 0;
}
.section-6 .title{
    color: var(--color-one);
    font-size: 35px;
    text-align: center;
}
.section-6 .content
{
  flex-direction: column;
  align-items: center;
  
}
.section-6 .email{
    text-align: left;
    width: 400px;
    height: 45px;
    font-size: 17px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 45px;
    margin-right: 10px;
    border: 1px solid transparent;
}

.section-6 .button{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    background-color: #FFC813;
    border-radius: 45px;
}
.section-6 .form-content{
    margin-top: 40px;
}
/* End Section-6 */


/* Section-7 */
.section-7{
    background-color:#fff;
    margin-bottom: 50px;
    
}
.section-7 .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-7 .content .title{
    font-size: 30px;
    color: var(--color-one);
    font-weight: 550;
    margin-top: 40px;
}
.section-7 .content .video
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.section-7 .content .video img{
    width: 100%;
}
.section-7 .content .video .play{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: #fff;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-7 .content .video .play:hover{
    background-color: var(--color-one);
    color: white;
}
.section-7 .content .video .play i{
    font-size: 32px;
    
    
}
/* End section-7 */





/* Section-8 */
.section-8{
    background-color: var(--color-section);
    padding-top: 35px;
    padding-bottom: 100px;
   
}
.section-8 .wrap-content .wrap-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-8 .wrap-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-8 .wrap-content .wrap-top .title{
    color: var(--color-one);
    font-size: 50px;
}
.section-8 .wrap-content .wrap-top .title i {
    color: #FFC813;
}

.section-8 .wrap-content .wrap-bottom{
    display: flex;
    justify-content: space-between;
}
.section-8 .wrap-content .wrap-bottom .inner-item{
    background-color: #fff;
    width: 23%;
}
.section-8 .wrap-content .wrap-bottom .inner-item .inner-desc{
    color: var(--color-one);
    font-size: 18px;
    font-weight: 350;
    line-height: 1.5;
    margin-left: 25px;
    margin-top: 25px;
}
.section-8 .wrap-content .wrap-bottom .inner-item .inner-name{
    color: var(--color-one);
    font-size: 18px;
    font-weight: 550;
    margin-left: 25px;
    margin-top: 25px;
}
.section-8 .wrap-content .wrap-bottom .inner-item .star{
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.section-8 .wrap-content .wrap-bottom .inner-item .star i{
    font-size: 13px;
      color: #FFC813;
}
/* End Section-8 */